img {
    width: 200px;
    height: 400px;
    border-radius: 40px;
}
body {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background:  #9d7b61;
    color: dark rgb(72, 29, 29);
}
a:hover{
    color: rgb(0, 255, 166);
}
a{
    color: rgb(0, 76, 255);
}
button:hover{
    border-colour: red;
    background-color: orange;
    box-shadow: 0px 10px 20px green;
}